<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Material Design for Bootstrap fonts and icons -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">

  <!-- Material Design for Bootstrap CSS -->
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
    integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

  <title>Hello, world!</title>

  <style>
  
  .my-tbody{
    font-size: 0.8rem;
  }
  
  </style>
</head>



<body>
    <!--{% block content %}-->
    <!--<audio src="{{ sayit(text='Hello from Flask !')}}" autoplay></audio>-->
  <!--{% endblock %}-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div style="margin-left:30px;">
      <h4>NLP TC</h4>
    </div>
  </nav>

  <div style="display:flex;">

    <div class="card bg-light mb-3" style="max-width: 20rem;background: white !important;height: 100vh;">

      <div class="card-body">
        <h4 class="card-title">NLP PROJECT</h4>
        <p class="card-text">nlp project Text to Speech Email Using GTTS </p>
      </div>
    </div>

    <table class="table table-hover">
      <thead>
        <tr class="d-flex">
          <th scope="col" class="col-1">No</th>
          <th scope="col" class="col-2">From</th>
          <th scope="col" class="col-2">Subject</th>
          <th scope="col" class="col-6">Content</th>
          <th scope="col" class="col-1">Action</th>
        </tr>
      </thead>
      <tbody class="my-tbody">
        {%for inbox in inboxs%}
        <tr class="d-flex">
          <th scope="row" class="col-1">{{loop.index0+1}}</th>
          <td class="col-2">{{inbox.from}}</td>
          <td class="col-2">{{inbox.subject}}</td>
          <td class="col-6">{{inbox.content}}</td>
          <td class="col-1"><div class="width:10px;height:10px;"><img src="{{url_for('static',filename='src/play.svg')}}" alt="" style="width:25px;" onclick='document.getElementById("speech[{{loop.index0+1}}]").play();'></div></td>
         <audio id='speech[{{loop.index0+1}}]' src="{{ sayit(lang='en-us', text=inbox.speech) }}"></audio>
        </tr>
        {% endfor %}

      </tbody>
    </table>

  </div>







  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
    crossorigin="anonymous"></script>
  <script>
    $(document).ready(function () {
      $('body').bootstrapMaterialDesign();
    });
  </script>
</body>

</html>